<html>
  <head>
    <title>GeoLocater</title>
  </head>

  <body>
    <div class="container">
      <h1>GeoLocater</h1>
      <div class="form-group">        
        <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
        
        <div *ngIf="edited">        
          <div><img src="{{icon}}" width="16" height="16"/>{{name}}</div>
          <div>{{add}}</div>
        </div>        
              
      </div>
      <sebm-google-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="true" [zoom]="zoom" #map id="map">
        <sebm-google-map-marker [latitude]="latitude" [longitude]="longitude"></sebm-google-map-marker>
      </sebm-google-map>
    </div>

    <div *ngIf="visible">      
      <img src="{{data?.icon}}"  />
      <div><b>{{data?.location}}</b> </div>
      <div style="color:#07CFFC"><b>{{data?.date}}</b> </div>
      <div style="color:#1707FC"> <b>{{data?.weatherDesc}}</b> </div>
      <div style="color:#FC071B"><b>{{data?.temp}}Celcius</b></div>       
    </div>
    
  </body>
</html>


